@page "/Avia"
<h3>Avia</h3>
<div class="Avia">
    <div class="head">
        <div class="header-text">
            <div class="header-title">
                WORLDSKILLS.AVIA
            </div>
            <div class="nav-menu">
                <p class="nav-text">Акции Поиск Регистрация кабинет</p>
            </div>
        </div>
        <div class="text">
            ПОЛУЧИ СКИДКУ НА АВИАПЕРЕЛЁТ
            <div class="text_2">Законно! Легально! Работаем более 10 лет</div>
        </div>
        <div class="choice-route">
            <div class="choice-route-text">
                <div class="from">Откуда</div> 
                <div class="where">Куда</div>
                <div class="there">Туда</div>
                <div class="back">Обратно</div>
                <div class="passengers">Пассажиров</div>
                <div class="find">Найти</div>
            </div>
        </div>
        <div class="block">
            <div class="block-title">
                Онлайн-расчет стоимости<br/>полета со скидкой в нашем сервисе.
                <div class="block-per">
                    <div class="per-text">
                        принцип 1 из 3
                        <div class="per">
                            <div class="per_2">
                            </div>
                        </div>
                        25%
                    </div>
                    <div class="city">
                        <div class="city-title">
                            Принцип #1.Введите город прилета
                        </div>
                        <input class="city-input" type="text" placeholder="Город прилёта..."/>
                        <button class="city-btn">Следующий вопрос</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-title">
            Нам доверяют, потому что мы:
        </div>
        <div class="main-blocks">
            <div class="main-block">
                <div class="main-block-info">
                    <div class="main-block-title">
                        Лучшая цена
                    </div>
                    <div class="main-block-text">
                        Мы гарантируем, что наши<br/> цены ниже, чем у конкурентов,<br/> а качество на таком же уровне
                    </div>
                </div>
            </div>            
            <div class="main-block">
                <div class="main-block-info">
                    <div class="main-block-title">
                        Лучшая цена
                    </div>
                    <div class="main-block-text">
                        Мы гарантируем, что наши<br/> цены ниже, чем у конкурентов,<br/> а качество на таком же уровне
                    </div>
                </div>
            </div>            
            <div class="main-block">
                <div class="main-block-info">
                    <div class="main-block-title">
                        Лучшая цена
                    </div>
                    <div class="main-block-text">
                        Мы гарантируем, что наши<br/> цены ниже, чем у конкурентов,<br/> а качество на таком же уровне
                    </div>
                </div>
            </div>            
            <div class="main-block">
                <div class="main-block-info">
                    <div class="main-block-title">
                        Лучшая цена
                    </div>
                    <div class="main-block-text">
                        Мы гарантируем, что наши<br/> цены ниже, чем у конкурентов,<br/> а качество на таком же уровне
                    </div>
                </div>
            </div>
        </div>
        <div class="choice-route-2">
            <div class="choice-route-text-2">
                <div class="from-2">Откуда</div> 
                <div class="where-2">Куда</div>
                <div class="there-2">Туда</div>
                <div class="back-2">Обратно</div>
                <div class="passengers-2">Пассажиров</div>
                <div class="find-2">Найти</div>
                </div>
            </div>
    </div>
</div>
@code {
    
}