@page "/Avia"
@rendermode InteractiveServer
<h3>Avia</h3>
<div class="Avia">
    <div class="head">
        <div class="header-text">
            <div class="header-title">
                WORLDSKILLS.AVIA
            </div>
            <div class="nav-menu">
                <p class="nav-text"><a href="https://promokod.pikabu.ru/shops/aviasales?ysclid=m7a8e2prm5112942958" class="nav-text">Акции</a> <a href="AviaForm" class="nav-text">Регистрация</a> <a href="#" class="nav-text">Войти</a></p>
            </div>
        </div>
        <div class="text">
            ПОЛУЧИ СКИДКУ НА АВИАПЕРЕЛЁТ
            <div class="text_2">Законно! Легально! Работаем более 10 лет</div>
        </div>
        <div class="choice-route"> <!--Переделать этот блок позже-->
            <div class="choice-route-text">
                <input class="from" @bind="Input_chouse_from" placeholder="Откуда"> 
                <input class="where" @bind="Input_chouse_where" placeholder="Куда">
                <input class="there" @bind="Input_chouse_there" placeholder="Туда"> 
                <input class="back" @bind="Input_chouse_back" placeholder="Обратно">
                <input class="passengers" @bind="Input_chouse_passengers" placeholder="Пассажиров">  
                <button @onclick="RemoveChouse" class="button">Найти</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">
                Онлайн-расчет стоимости<br/>полета со скидкой в нашем сервисе.
                <div class="block-per">
                    <div class="per-text">
                        принцип 1 из 3
                        <div class="per">
                            <div class="per_2">
                            </div>
                        </div>
                        25%
                    </div>
                    <div class="city">
                        <div class="city-title">
                            Принцип #1.Введите город прилета
                        </div>
                        <input  @bind="Inp" class="city-input" type="text" placeholder="Город прилёта..."/>
                        <button @onclick="RemoveInfo" class="city-btn">Следующий вопрос</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-title">
            Нам доверяют, потому что мы:
        </div>
        <div class="main-blocks">
            <div class="main-block">
                <div class="main-block-info">
                    <div class="main-block-title">
                        Лучшая цена
                    </div>
                    <div class="main-block-text">
                        Мы гарантируем, что наши<br/> цены ниже, чем у конкурентов,<br/> а качество на таком же уровне
                    </div>
                </div>
            </div>            
            <div class="main-block">
                <div class="main-block-info">
                    <div class="main-block-title">
                        Лучшая цена
                    </div>
                    <div class="main-block-text">
                        Мы гарантируем, что наши<br/> цены ниже, чем у конкурентов,<br/> а качество на таком же уровне
                    </div>
                </div>
            </div>            
            <div class="main-block">
                <div class="main-block-info">
                    <div class="main-block-title">
                        Лучшая цена
                    </div>
                    <div class="main-block-text">
                        Мы гарантируем, что наши<br/> цены ниже, чем у конкурентов,<br/> а качество на таком же уровне
                    </div>
                </div>
            </div>            
            <div class="main-block">
                <div class="main-block-info">
                    <div class="main-block-title">
                        Лучшая цена
                    </div>
                    <div class="main-block-text">
                        Мы гарантируем, что наши<br/> цены ниже, чем у конкурентов,<br/> а качество на таком же уровне
                    </div>
                </div>
            </div>
        </div>
        <div class="choice-route-2">
            <div class="choice-route-text-2">
                <input class="from-2" @bind="Input_chouse_from_main" placeholder="Откуда"> 
                <input class="where-2" @bind="Input_chouse_where_main" placeholder="Куда">
                <input class="there-2" @bind="Input_chouse_there_main" placeholder="Туда"> 
                 <input class="back-2" @bind="Input_chouse_back_main" placeholder="Обратно">
                 <input class="passengers-2" @bind="Input_chouse_passengers_main" placeholder="Пассажиров">  
                <button @onclick="RemoveChouseMain" class="button">Найти</button>
            </div>
        </div>
        <div class="flight">
            <div class="flight-block">
                <img src="image/24.png" alt="Error" class="flight-img"/>
                <div class="flight-text">
                    <p class="flight-title">Перелет в село</p>
                    <p class="flight-main">Быстро, в село-курорт. Уже через несколько<br/> часов вы окажетесь с горячей <br/>чиксой на сеновале</p>
                    <p class="flight-footer">500 ₽/чел</p>
                    <a  href="https://online.sberbank.ru/CSAFront/index.do" class="flight-more">УЗНАТЬ ПОДРОБНЕЕ</a>
                </div>
            </div>
            <div class="flight-block">
                <img src="image/24.png" alt="Error" class="flight-img"/>
                <div class="flight-text">
                    <p class="flight-title">Перелет в село</p>
                    <p class="flight-main">Быстро, в село-курорт. Уже через несколько<br/> часов вы окажетесь с горячей <br/>чиксой на сеновале</p>
                    <p class="flight-footer">500 ₽/чел</p>
                    <a  href="https://online.sberbank.ru/CSAFront/index.do" class="flight-more">УЗНАТЬ ПОДРОБНЕЕ</a>
                </div>
            </div>
            <div class="flight-block">
                <img src="image/24.png" alt="Error" class="flight-img"/>
                <div class="flight-text">
                    <p class="flight-title">Перелет в село</p>
                    <p class="flight-main">Быстро, в село-курорт. Уже через несколько<br/> часов вы окажетесь с горячей <br/>чиксой на сеновале</p>
                    <p class="flight-footer">500 ₽/чел</p>
                    <a  href="https://online.sberbank.ru/CSAFront/index.do" class="flight-more">УЗНАТЬ ПОДРОБНЕЕ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-sub">
            <p class="sub-title">ПОДПИШИСЬ НА РАССЫЛКУ О ЗАКРЫТЫХ АКЦИЯХ</p>
            <div class="sub-text">
                <input @bind="Remove_Name" class="name" type="text" placeholder="Введите имя"/>
                <input @bind="Remove_Phone" class="phone" type="text" placeholder="Введите телефон"/>
                <button @onclick="RemoveFoot" class="sub-btn"> ПОДПИСАТЬСЯ</button>
            </div>
        </div>
        <div class="footer-info">
            <p class="footer-info-title">О ПРОЕКТЕ</p>
            <div class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis elit vitae massa accumsan varius. Nullam auctor tortor eget placerat fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis elit vitae massa accumsan varius.</div>
        </div>
        <div class="footer-about">
            <p class="number">8 (800) 100 10 10</p>
            <p class="email">email@email.ru</p>
        </div>
    </div>
</div>

@code {
    public string Input_chouse_from { get; set; }
    public string Input_chouse_where { get; set; }
    public string Input_chouse_there { get; set; }
    public string Input_chouse_back { get; set; }
    public string Input_chouse_passengers { get; set; }    
    
    public string Input_chouse_from_main{ get; set; }
    public string Input_chouse_where_main { get; set; }
    public string Input_chouse_there_main { get; set; }
    public string Input_chouse_back_main { get; set; }
    public string Input_chouse_passengers_main { get; set; }
    
    public string Inp { get; set; }
    public string Remove_Name { get; set; }
    public string Remove_Phone { get; set; }

    public void RemoveChouse()
    {
        Input_chouse_from = string.Empty;
        Input_chouse_where = string.Empty;
        Input_chouse_there = string.Empty;
        Input_chouse_back = string.Empty;
        Input_chouse_passengers = string.Empty;
    }    
    void RemoveChouseMain()
    {
        Input_chouse_from_main = string.Empty;
        Input_chouse_where_main = string.Empty;
        Input_chouse_there_main = string.Empty;
        Input_chouse_back_main = string.Empty;
        Input_chouse_passengers_main = string.Empty;
    }
    
    public void RemoveInfo()
    {
        Inp = string.Empty;
    }

    public void RemoveFoot()
    {
        Remove_Name = string.Empty;
        Remove_Phone = string.Empty;
    }
}