@page "/Avia"
<h3>Avia</h3>
<div class="Avia">
    <div class="head">
        <div class="header-text">
            <div class="header-title">
                WORLDSKILLS.AVIA
            </div>
            <div class="nav-menu">
                <p class="nav-text">Акции Поиск Регистрация кабинет</p>
            </div>
        </div>
        <div class="text">
            ПОЛУЧИ СКИДКУ НА АВИАПЕРЕЛЁТ
            <div class="text_2">Законно! Легально! Работаем более 10 лет</div>
        </div>
        <div class="choice-route">
            <div class="choice-route-text">
                <div class="from">Откуда</div> 
                <div class="where">Куда</div>
                <div class="there">Туда</div>
                <div class="back">Обратно</div>
                <div class="passengers">Пассажиров</div>
                <div class="find">Найти</div>
            </div>
        </div>
    </div>
</div>
@code {
    
}