@page "/AviaForm"
<h3>AviaForm</h3>
<div class="form">
    <p class="form-title">Sign in to your account</p>
    <div class="input-container">
        <input placeholder="Enter email" type="email">
    </div>
    <div class="input-container">
        <input placeholder="Enter password" type="password">
    </div>
    <button class="submit" type="submit">
        Sign in
    </button>

    <p class="signup-link">
        No account?
        <a href="">Sign up</a>
    </p>
</div>

@code {

}