@page "/Reviews"
@using Models
@using Newtonsoft.Json

@rendermode InteractiveServer

<h3>ОТЗЫВЫ</h3>

<table class="reviews-table">
    <tr class="reviews-table-tr">
        @foreach (SavingCl item in FeedBack)
        {
        <td class="reviews-table-td">
            <img src="image/24.png" class="reviews-avatar"/>
            @item.Text

            @for (var i = 0; i < 5; i++)
            {
                if (i <= @item.Stars - 1)
                {
                    <p>★</p>
                }
                else
                {
                    <p>☆</p>
                }
            }
        </td>
        }
    </tr>
</table>

@code {
    public IList<SavingCl> FeedBack = new List<SavingCl>();
    private SavingCl _newFeedBack = new SavingCl();
    const string path = "AllTasks.json";


    protected override void OnInitialized()
    {
        OpenFile();
    }

    public void OpenFile()
    {
        if (File.Exists(path))
        {
            var json = File.ReadAllText(path);
            FeedBack = JsonConvert.DeserializeObject<List<SavingCl>>(json)!;
        }
        else
        {
            SaveFile();
        }
    }

    public void SaveFile()
    {
        var json = JsonConvert.SerializeObject(FeedBack);
        File.WriteAllText(path, json);
    }
}